* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  background-color: #888;
  font-family: sans-serif;
  color: #FFF;
}

header {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

footer {
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: auto 450px auto;
  grid-template-rows: auto 680px auto;
  justify-items: content;
}

.calculator-main {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: center;
  align-items: center;
  background-color: #444;
  width: 448px;
  height: 678px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 448px;
  height: 100px;
  justify-content: center;
}

.left {
  margin-left: 10px;
}

.top {
  margin-top: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 98px;
  background-color: #111;
  border: 1px solid #888;
  margin: 0px 5px 0px 5px;
  font-size: 3em;
}

.double-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 98px;
  background-color: #111;
  border: 1px solid #999;
  margin: 0px 5px 0px 5px;
  font-size: 3em;
}

.operation {
  background-color: #333;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 428px;
  height: 98px;
  border: 1px solid #FFF;
  margin: 0px 5px 0px 5px;
  font-size: 3em;
}

.equal {
  background-color: darkOrange;
  border-color: #FFF;
}

.delete {
  border-color: #FFF;
}